* { 
    font-family: "David+Libre", sans-serif;   
} 

header {
    text-align: center;
}

  

  .timeslot h3, .timeslot textArea, .timeslot button {
    display: inline-block;
  }

  
  .past {
    background-color: gray;  
  }

  .present {
    background-color: #dc3545;  
  }

  .future {
    background-color: #198754;  
  }